<html>
<head>
<title>Sistema de Recomendacion - Movielens</title>
</head>
<body>
{% include 'header.html' %}

<h1>Inicio</h1>

<p>
Se pide construir una web con un menú principal, en la parte superior de la ventana, que permita las siguientes opciones:
<br>
a) Dado un usuario (Id), le recomiende dos películas que no haya puntuado (Título). 
Usando un sistema de recomendación de tipo filtrado colaborativo basado en usuarios.
<br>
b) Dado un usuario (Id), le recomiende dos películas que no haya puntuado (Título). 
Usando un sistema de recomendación de tipo filtrado colaborativo basado en ítems.
<br>
c) Dada una película (Id), mostrar las tres películas (Título) que más se le parecen.
<br>
d) Dada una película (Id), mostrar los tres mejores usuarios (Id, Edad, CódigoPostal) a los que se les podría recomendar.
<br>
e) Dado un usuario (Id), mostrar todas las películas que ha puntuado (Título) y su
puntuación.
</p>

</body>
</html>