<header>
<nav>
	<ul>
		<li><a href="/">Inicio</a></li>
		<li><a href="/populate">Poblar la Base de Datos</a></li>
		<li><a href="/cargarRS">Cargar el Sistema de Recomendacion</a></li>
		<li><a href="/puntuacionesDeUnUsuario">Puntuaciones de un usuario</a></li>
		<li><a href="/animesPorGenero">Buscar animes por género</a></li>
		<li><a href="/usuariosParecidos">3 usuarios que más se parecen a otro</a></li>
		<li><a href="/recomendarAnimes">Recomienda 5 animes a un usuario</a></li>
	</ul>
</nav>
</header>
