{% extends 'base.html' %}

{% block encabezado %}
<h1>Búsqueda de vinos por uva</h1>
{% endblock %}

{% block contenido %}


    	<form id="formulario" method="post" action='.'>{% csrf_token %}
    		{{formulario}}
    		<input type='submit' value='Realizar Busqueda'/>
    	</form>
	    
	    <hr>

        {% if vinos %}
		    <h3>Total de vinos de la uva:  {{ vinos|length }}</h3>

            {% for row in vinos %}
            
                <dt><b>Nombre: </b>{{ vino.nombre }}</dt>
                <dt><b>Bodega: </b>{{ vino.bodega }}</dt>
                <dt><b>Denominación de origen: </b>{{ vino.denominacion }}</dt>
                <dt><b>Uvas: </b>
                    {% for uva in row.uvas.all %}
                        {{uva.nombre}} 
                    {% endfor %}
                </dt>
                
                <br>
			{% endfor %}

		{% endif %}




	</div>
{% endblock %}