<header>
<nav>
	<ul>
		<li><a href="/">Inicio</a></li>
		<li><a href="/populate">Poblar la Base de Datos</a></li>
		<li><a href="/loadRS">Cargar datos para el RS - AVISO: ESTA OPERACION ES LENTA. HACEDLA CUANDO CAMBIE LA BD</a></li>
		<li><a href="/recommendedFilmsUser">Recomienda dos Peliculas a un Usuario - RS Basado en Usuarios</a></li>
		<li><a href="/similarFilms">Tres Peliculas que mas se parecen a otra</a></li>
		<li><a href="/search">Peliculas puntuadas por un Usuario</a></li>
	</ul>
</nav>
</header>
