<html>
<head>
<title>Sistema de Recomendacion - Movielens</title>
</head>
<body>
{% include 'header.html' %}
<h1>Bienvenido al Sistema de Recomendacion de Movielens!!!</h1> 
<p>
Se desea construir una pagina web, que permita recomendar a usuarios peliculas en funcion de las puntuaciones que han dado otros usuarios a las peliculas y los gustos de estos.
Construir el modelo de datos en Django que almacene la informacion siguiente:
<br>
<br>
a)	Usuario: Id, Edad, Sexo(M,F), Ocupacion, CodigoPostal.
<br>
b)	Pelicula: Id, Titulo, FechaEstreno, FechaEstrenoVideo y IMDbURL.
<br>
c)	Puntuacion: Puntacion de usuario a pelicula, y fecha/hora en que se produjo.
<br>
<br>
Las puntuaciones son numericas entre 1 y 5.
<br>
Poblar la base de datos extrayendo los datos del Dataset100K de Movilens(u.data, u.user, u.item, u.genre, u.occupation): https://grouplens.org/datasets/movielens/100k/
<br>
Se pide construir una web con un menu principal, en la parte superior de la ventana, que permita las siguientes opciones:
<br>
<br>
a)	Dado un usuario (Id), le recomiende dos peliculas que no haya puntuado (Titulo). Usando un sistema de recomendacion de tipo filtrado colaborativo basado en usuarios.
<br>
b)	Dada una pelicula (Id), mostrar las tres peliculas (Titulo) que mas se le parecen.
<br>
c)	Dado un usuario (Id), mostrar todas las peliculas que ha puntuado (Titulo) y su puntuacion.


</p>
</body>
</html>